<section class="container-fluid">
    <div class="gallery-heading">
        <h1>Image Gallery</h1>
    </div>
    <div class="row">
        <div class="col-md-4 mb-4">
            <div class="card">
                <img src="../../../assets/gallery-1.webp" class="card-img-top gallery-img" alt="Gallery Image 1">
            </div>
        </div>
        <div class="col-md-4 mb-4">
            <div class="card">
                <img src="../../../assets/gallery-2.webp" class="card-img-top gallery-img" alt="Gallery Image 2">
            </div>
        </div>
        <div class="col-md-4 mb-4">
            <div class="card">
                <img src="../../../assets/gallery-3.webp" class="card-img-top gallery-img" alt="Gallery Image 3">
            </div>
        </div>
        <div class="col-md-4 mb-4">
            <div class="card">
                <img src="../../../assets/gallery-4.webp" class="card-img-top gallery-img" alt="Gallery Image 4">
            </div>
        </div>
        <div class="col-md-4 mb-4">
            <div class="card">
                <img src="../../../assets/gallery-5.webp" class="card-img-top gallery-img" alt="Gallery Image 5">
            </div>
        </div>
        <div class="col-md-4 mb-4">
            <div class="card">
                <img src="../../../assets/gallery-2.webp" class="card-img-top gallery-img" alt="Gallery Image 6">
            </div>
        </div>
    </div>
</section>