<app-navbar></app-navbar>
<style>
    .container-fluid h1 {
        margin: 80px 325px 40px;
        font-family: Kanit;
        font-size: 40px;
        font-weight: 500;
        font-stretch: normal;
        font-style: normal;
        line-height: 1.5;
        letter-spacing: 0.1px;
        text-align: center;
        color: #373f41;
    }

    .services-items {
        padding: 50px;
        margin-bottom: 50px;
        margin-top: 50px;
    }

    .services-items h1 {
        width: 540px;
        height: auto;
        flex-grow: 0;
        margin: 0 0 22px;
        font-family: Kanit;
        font-size: 32px;
        font-weight: normal;
        font-stretch: normal;
        font-style: normal;
        line-height: 1.56;
        letter-spacing: 0.1px;
        text-align: left;
        color: #373f41;
    }

    .services-items p {
        width: auto;
        height: auto;
        flex-grow: 0;
        margin: 22px 0 0;
        font-family: Mulish;
        font-size: 18px;
        font-weight: normal;
        font-stretch: normal;
        font-style: normal;
        line-height: 1.78;
        letter-spacing: 0.3px;
        text-align: left;
        color: #737b7d;
    }

    .img-container {
        display: flex;
        justify-content: center;
    }
</style>




<section class="container-fluid">
    <h1>
        “Our Team have Awesome handpicked Services these for your next big group
        celebration, a romantic getaway or peaceful sneak away”
    </h1>
    <div class="row services-items d-flex align-items-center justify-content-center">
        <article class="col-md-5">
            <h1>Our Mission</h1>
            <p>
                Vacations are crucial for the souls and when that experience doesn’t go
                as planned, you can’t get that time back.
                <br />
                <br />
                One of the most significant parts of buying a vacation home is its
                upkeep and maintenance in the absence of homeowners. Getting a home is
                an emotional decision but the reality of homeownership is riddled with
                friction.
            </p>
        </article>
        <div class="img-container col-md-5">
            <img src="../../assets/cook.svg" class="img-fluid" alt="Mission Image" />
        </div>
    </div>


    <div class="row services-items d-flex align-items-center justify-content-center text-center">
        <div class="img-container col-md-5">
            <img src="../../assets/laundry.svg" class="img-fluid" alt="Mission Image" />
        </div>
        <article class="col-md-5">
            <h1>Our vision</h1>
            <p>
                Homeowners spend a huge amount of time dealing with the hassles of
                general property management - fragmented suppliers and vendors, lack of
                planning and tracking, lack of time to negotiate and monitor capital
                projects, and having to jump-start their property each time they want to
                visit. All this costs money and energy and often leads to a disconnect
                between the experience a homeowner wants from their home and what their
                experience actually is.
            </p>
        </article>
    </div>


    <div class="row services-items d-flex align-items-center justify-content-center">
        <article class="col-md-5">
            <h1>Our Mission</h1>
            <p>
                Vacations are crucial for the souls and when that experience doesn’t go
                as planned, you can’t get that time back.
                <br />
                <br />
                One of the most significant parts of buying a vacation home is its
                upkeep and maintenance in the absence of homeowners. Getting a home is
                an emotional decision but the reality of homeownership is riddled with
                friction.
            </p>
        </article>
        <div class="img-container col-md-5">
            <img src="../../assets/cleaning.webp" class="img-fluid" alt="Mission Image" />
        </div>
    </div>

    <div class="row services-items d-flex align-items-center justify-content-center text-center">
        <div class="img-container col-md-5">
            <img src="../../assets/maintenance.svg" class="img-fluid" alt="Mission Image" />
        </div>
        <article class="col-md-5">
            <h1>Our vision</h1>
            <p>
                Homeowners spend a huge amount of time dealing with the hassles of
                general property management - fragmented suppliers and vendors, lack of
                planning and tracking, lack of time to negotiate and monitor capital
                projects, and having to jump-start their property each time they want to
                visit. All this costs money and energy and often leads to a disconnect
                between the experience a homeowner wants from their home and what their
                experience actually is.
            </p>
        </article>
    </div>

</section>


<app-footer></app-footer>