<app-navbar></app-navbar>

<section class="container-fluid">
    <h1>
        “Our Team have Awesome handpicked Services these for your next big group
        celebration, a romantic getaway or peaceful sneak away”
    </h1>
    <div class="row services-items d-flex align-items-center justify-content-center">
        <article class="col-md-5">
            <h1>Our Mission</h1>
            <p>
                Vacations are crucial for the souls and when that experience doesn’t go
                as planned, you can’t get that time back.
                <br />
                <br />
                One of the most significant parts of buying a vacation home is its
                upkeep and maintenance in the absence of homeowners. Getting a home is
                an emotional decision but the reality of homeownership is riddled with
                friction.
            </p>
        </article>
        <div class="img-container col-md-5">
            <img src="../../assets/cook.svg" class="img-fluid" alt="Mission Image" />
        </div>
    </div>


    <div class="row services-items d-flex align-items-center justify-content-center text-center">
        <div class="img-container col-md-5">
            <img src="../../assets/laundry.svg" class="img-fluid" alt="Mission Image" />
        </div>
        <article class="col-md-5">
            <h1>Our vision</h1>
            <p>
                Homeowners spend a huge amount of time dealing with the hassles of
                general property management - fragmented suppliers and vendors, lack of
                planning and tracking, lack of time to negotiate and monitor capital
                projects, and having to jump-start their property each time they want to
                visit. All this costs money and energy and often leads to a disconnect
                between the experience a homeowner wants from their home and what their
                experience actually is.
            </p>
        </article>
    </div>


    <div class="row services-items d-flex align-items-center justify-content-center">
        <article class="col-md-5">
            <h1>Our Mission</h1>
            <p>
                Vacations are crucial for the souls and when that experience doesn’t go
                as planned, you can’t get that time back.
                <br />
                <br />
                One of the most significant parts of buying a vacation home is its
                upkeep and maintenance in the absence of homeowners. Getting a home is
                an emotional decision but the reality of homeownership is riddled with
                friction.
            </p>
        </article>
        <div class="img-container col-md-5">
            <img src="../../assets/cleaning.webp" class="img-fluid" alt="Mission Image" />
        </div>
    </div>

    <div class="row services-items d-flex align-items-center justify-content-center text-center">
        <div class="img-container col-md-5">
            <img src="../../assets/maintenance.svg" class="img-fluid" alt="Mission Image" />
        </div>
        <article class="col-md-5">
            <h1>Our vision</h1>
            <p>
                Homeowners spend a huge amount of time dealing with the hassles of
                general property management - fragmented suppliers and vendors, lack of
                planning and tracking, lack of time to negotiate and monitor capital
                projects, and having to jump-start their property each time they want to
                visit. All this costs money and energy and often leads to a disconnect
                between the experience a homeowner wants from their home and what their
                experience actually is.
            </p>
        </article>
    </div>

</section>


<app-footer></app-footer>