.container-fluid h1 {
    margin: 80px 325px 40px;
    font-family: Kanit;
    font-size: 40px;
    font-weight: 500;
    font-stretch: normal;
    font-style: normal;
    line-height: 1.5;
    letter-spacing: 0.1px;
    text-align: center;
    color: #373f41;
}

.services-items {
    padding: 50px;
    margin-bottom: 50px;
    margin-top: 50px;
}

.services-items h1 {
    width: 540px;
    height: auto;
    flex-grow: 0;
    margin: 0 0 22px;
    font-family: Kanit;
    font-size: 32px;
    font-weight: normal;
    font-stretch: normal;
    font-style: normal;
    line-height: 1.56;
    letter-spacing: 0.1px;
    text-align: left;
    color: #373f41;
}

.services-items p {
    width: auto;
    height: auto;
    flex-grow: 0;
    margin: 22px 0 0;
    font-family: Mulish;
    font-size: 18px;
    font-weight: normal;
    font-stretch: normal;
    font-style: normal;
    line-height: 1.78;
    letter-spacing: 0.3px;
    text-align: left;
    color: #737b7d;
}

.img-container {
    display: flex;
    justify-content: center;
}