<app-navbar></app-navbar>

<section class="container-fluid d-flex flex-column align-items-center">
  <article class="about-content text-center">
    <h1>Welcome To VillaCrest</h1>
    <p>
      Vacations are crucial for the souls and when that experience doesn’t go as
      planned, you can’t get that time back.
      <br /><br />
      One of the most significant parts of buying a vacation home is its upkeep
      and maintenance in the absence of homeowners. Getting a home is an
      emotional decision but the reality of homeownership is riddled with
      friction.
    </p>
  </article>
  <div class="about-img mt-4">
    <img src="../../assets/about-img.webp" alt="About Image" />
  </div>
</section>



<section class="container-fluid">
  <div class="row about-items d-flex align-items-center justify-content-center">
    <article class="col-md-5">
      <h1>Our Mission</h1>
      <p>
        Vacations are crucial for the souls and when that experience doesn’t go
        as planned, you can’t get that time back.
        <br />
        <br />
        One of the most significant parts of buying a vacation home is its
        upkeep and maintenance in the absence of homeowners. Getting a home is
        an emotional decision but the reality of homeownership is riddled with
        friction.
      </p>
    </article>
    <div class="img-container col-md-5">
      <img
        src="../../assets/mission.svg"
        class="img-fluid"
        alt="Mission Image"
      />
    </div>
  </div>
  <div
    class="row about-items d-flex align-items-center justify-content-center text-center"
  >
    <div class="img-container col-md-5">
      <img
        src="../../assets/vision.svg"
        class="img-fluid"
        alt="Mission Image"
      />
    </div>
    <article class="col-md-5">
      <h1>Our vision</h1>
      <p>
        Homeowners spend a huge amount of time dealing with the hassles of
        general property management - fragmented suppliers and vendors, lack of
        planning and tracking, lack of time to negotiate and monitor capital
        projects, and having to jump-start their property each time they want to
        visit. All this costs money and energy and often leads to a disconnect
        between the experience a homeowner wants from their home and what their
        experience actually is.
      </p>
    </article>
  </div>
</section>




<section class="container-fluid third-section d-flex justify-content-center align-items-center">
    <div class="container content-container d-flex flex-column align-items-center">
      <img src="../../assets/bulb.svg" class="img-fluid mb-3" alt="Bulb Icon" />
      <span class="Facts-About-Shitlakhet">
        Facts About
        <span class="text-style-1">Shitlakhet</span>
      </span>
      <p>
        The mesmerizing view of the sun-kissed hills, rich flora-fauna and the
        cool breeze carrying away the scent of the rosy rhododendrons makes
        Sitlakhet an ideal retreat.
        <br />
        <br />
        A very wide range of Himalayas is visible from here. Surrounded by about
        1800 hectares of forest area from all sides.
        <br />
        <br />
        Shitlakhet is known for its natural beauty. Nestled in the lap of nature,
        this hill station attracts tourists. Shitlakhet is a small hill station.
        But it is very calm and pleasant. Here you can see the beautiful peaks of
        the Himalayas.
      </p>
    </div>
  </section>


<app-footer></app-footer>
  
