.container-fluid {
    display: flex;
    padding: 50px;
    justify-content: center;
  }

  .main-container {
    width: 80%;
    height: 100vh;
    display: grid;
    grid-template-columns: 60% 40%;
  }

  .container-fluid .left {
    height: 100%;
  }

  .container-fluid .right {
    height: 100%;
  }

  .property-details {
    margin-top: 20px;
    width: 100%;
    height: auto;
    border-radius: 4px;
    box-shadow: 0 10px 35px 0 rgba(0, 0, 0, 0.07);
    background-color: #fff;
    padding: 15px;
  }

  .property-details .property-heading {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
  }

  .property-location {
    display: flex;
    flex-direction: row;
    gap: 2px;
  }

  .property-features {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    margin-top: 10px;
  }

  .property-features img,
  span {
    flex-grow: 0;
    font-family: NunitoSans;
    font-size: 14px;
    font-weight: 600;
    font-stretch: normal;
    font-style: normal;
    line-height: 1.7;
    letter-spacing: normal;
    text-align: left;
    color: #626262;
  }

  .property-location {
    flex-grow: 0;
    font-family: NunitoSans;
    font-size: 14px;
    font-weight: normal;
    font-stretch: normal;
    font-style: normal;
    line-height: 1.7;
    letter-spacing: normal;
    text-align: left;
    color: #aeaeae;
  }

  .property-heading {
    flex-grow: 0;
    font-family: NunitoSans;
    font-size: 16px;
    font-weight: bold;
    font-stretch: normal;
    font-style: normal;
    line-height: 1.7;
    letter-spacing: normal;
    text-align: left;
    color: #3e3e3e;
  }

  .property-heading .price {
    flex-grow: 0;
    font-family: NunitoSans;
    font-size: 18px;
    font-weight: bold;
    font-stretch: normal;
    font-style: normal;
    line-height: 1.7;
    letter-spacing: normal;
    text-align: left;
    color: #ffa800;
  }

  .villas-container {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    margin: 30px;
    gap: 50px;
    justify-content: center;
    align-items: center;
  }

  .selector {
    margin-top: 20px;
    height: 60px;
    background-color: #dddbdb;
    box-shadow: 0 10px 35px 0 rgba(0, 0, 0, 0.07);
  }

  .selector ul {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    padding: 20px;
  }

  .selector ul > li {
    font-weight: bold;
    font-family: Mulish-Bold;
  }

  .content {
    margin-top: 50px;
  }

  .content h1 {
    font-size: larger;
    font-family: sans-serif;
    font-weight: bold;
  }

  .content p {
    font-family: Mulish;
    font-size: 18px;
    font-weight: normal;
    font-stretch: normal;
    font-style: normal;
    line-height: 1.78;
    letter-spacing: 0.3px;
    text-align: left;
    color: #737b7d;
  }

  .house-details {
    margin-top: 50px;
  }

  .house-details div {
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 20px;
  }

  .house-details div > span:nth-child(1) {
    font-size: 24px;
    font-weight: bold;
    font-stretch: normal;
    font-style: normal;
    line-height: 1.67;
    letter-spacing: 0.1px;
    text-align: left;
    color: #373f41;
  }
  .house-details div > span:nth-child(2) {
    font-size: large;
    font-weight: 600;
    font-stretch: normal;
    font-style: normal;
    line-height: 1.6;
    letter-spacing: normal;
    text-align: left;
    color: #737b7d;
  }
  .house-details .line {
    margin-top: 10px;
    margin-bottom: 10px;
    width: 100%;
    height: 1px;
    background-color: gray;
  }

  .image-grid{
    padding: 10px;
    gap: 10px;
    display: grid;
    grid-template-columns: 1fr 1fr
  }

  .image-grid div > img{
    border-radius: 8px;
  }