<nav class="w-full h-[88px] bg-[#f3f6fa] flex items-center justify-center shadow-md z-10">
    <div class="w-full max-w-screen-xl mx-10 flex justify-between items-center">
      <a class="navbar-brand" href="#">
        <img src="../../../assets/logo.svg" alt="VillaCrest" />
      </a>
      <div>
        <ul class="flex flex-row space-x-7 items-center">
          <li class="nav-item active">
            <a class="font-mulish text-sm font-semibold leading-tight tracking-wide text-left text-[#3c64b1]" href="#">Home</a>
          </li>
          <li class="nav-item">
            <a class="font-mulish text-sm font-semibold leading-tight tracking-wide text-left text-[#373f41] hover:text-[#3c64b1]" href="/aboutus">About Us</a>
          </li>
          <li class="nav-item">
            <a class="font-mulish text-sm font-semibold leading-tight tracking-wide text-left text-[#373f41] hover:text-[#3c64b1]" href="/villas">Villas</a>
          </li>
          <li class="nav-item">
            <a class="font-mulish text-sm font-semibold leading-tight tracking-wide text-left text-[#373f41] hover:text-[#3c64b1]" href="/services">Services</a>
          </li>
          <li class="nav-item">
            <a class="font-mulish text-sm font-semibold leading-tight tracking-wide text-left text-[#373f41] hover:text-[#3c64b1]" href="#">Partner with us</a>
          </li>
          <li class="p-2 px-3 bg-[#3c64b1] rounded-md text-white hover:bg-[#78a0eb]">
            <a class="font-mulish text-sm font-semibold leading-tight tracking-wide text-left" href="contactus">Contact</a>
          </li>
        </ul>
      </div>
    </div>
  </nav>
  