<style>
    .container-fluid {
        background-color: white;
        display: flex;
        justify-content: center;
        align-items: center;
        padding: 50px 30px;
    }

    .about-us {
        height: 70%;
        display: flex;
        flex-direction: row;
        align-items: center;
        flex-wrap: wrap;
        margin-top: 10px;
        min-width: fit-content;
    }

    .about-us>div {
        flex: 1;
        
    }
    .about-section h2 {
        width: 540px;
        flex-grow: 0;
        margin: 0 0 20px;
        font-family: Kanit;
        font-size: 32px;
        font-weight: normal;
        font-stretch: normal;
        font-style: normal;
        line-height: 1.25;
        letter-spacing: 0.1px;
        text-align: left;
        color: #373f41;
    }

    .about-section p {
        height: auto;
        width: 540px;
        flex-grow: 0;
        margin: 20px 0 0;
        font-family: Mulish;
        font-size: 18px;
        font-weight: normal;
        font-stretch: normal;
        font-style: normal;
        line-height: 1.78;
        letter-spacing: 0.3px;
        text-align: left;
        color: #737b7d;
    }
</style>

<section class="container-fluid">
    <div class="row about-us">
        <div class="col-md-6 text-center">
            <img src="../../../assets/about.webp" class="img-fluid" alt="About Us Image" />
        </div>
        <div class="col-md-6">
            <div class="about-section">
                <h2>About Us</h2>
                <p class="about-text">
                    Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown
                    printer took a galley of type and scrambled it to make a type specimen book. It has survived not
                    only five centuries, but also the leap into electronic typesetting, remaining essentially unchanged.
                    It was popularized in the 1960s with the release of Letraset sheets containing Lorem Ipsum passages,
                    and more recently with desktop publishing software like Aldus PageMaker including versions of Lorem
                    Ipsum.
                </p>
            </div>
        </div>
    </div>
</section>