.container-fluid {
    background-color: white;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 50px 30px;
}

.about-us {
    height: 70%;
    display: flex;
    flex-direction: row;
    align-items: center;
    flex-wrap: wrap;
    margin-top: 10px;
    min-width: fit-content;
}

.about-us>div {
    flex: 1;
    
}
.about-section h2 {
    width: 540px;
    flex-grow: 0;
    margin: 0 0 20px;
    font-family: Kanit;
    font-size: 32px;
    font-weight: normal;
    font-stretch: normal;
    font-style: normal;
    line-height: 1.25;
    letter-spacing: 0.1px;
    text-align: left;
    color: #373f41;
}

.about-section p {
    height: auto;
    width: 540px;
    flex-grow: 0;
    margin: 20px 0 0;
    font-family: Mulish;
    font-size: 18px;
    font-weight: normal;
    font-stretch: normal;
    font-style: normal;
    line-height: 1.78;
    letter-spacing: 0.3px;
    text-align: left;
    color: #737b7d;
}