.container-fluid {
    width: auto;
    padding: 50px 5%; /* Adjust padding for smaller screens */
    background-color: #f3f6fa;
  }

  .container-fluid h3 {
    width: 100%; /* Adjust width for smaller screens */
    max-width: 528px; /* Limit width on larger screens */
    height: auto; /* Allow height to adjust */
    margin: 0 0 30px;
    font-family: Kanit;
    font-size: 32px;
    font-weight: normal;
    font-stretch: normal;
    font-style: normal;
    line-height: 1.25;
    letter-spacing: 0.1px;
    text-align: left;
    color: #373f41;
  }

  .container-fluid p {
    width: 100%; /* Adjust width for smaller screens */
    max-width: 500px; /* Limit width on larger screens */
    height: auto; /* Allow height to adjust */
    margin: 30px 0; /* Adjust margin for smaller screens */
    font-family: Mulish;
    font-size: 20px;
    font-weight: normal;
    font-stretch: normal;
    font-style: normal;
    line-height: 1.6;
    letter-spacing: 0.3px;
    text-align: left;
    color: #737b7d;
  }

  .container-fluid .text-bold {
    font-weight: bold;
    margin: 10px;
  }

  .container-fluid .button {
    margin-top: 50px;
    margin-bottom: 50px;
    padding: 15px 30px;
    background-color: #6d87cb;
    color: white;
    border-radius: 8px;
    text-align: center;
  }

  .row {
    justify-content: center;
  }

  .col {
    list-style-type: disc;
  }

  ul li::marker {
    color: #3c64b1;
    font-size: 1.2em;
  }

  @media screen and (max-width: 768px) {
    .container-fluid {
      padding: 50px 10px;
    }

    .container-fluid h3 {
      max-width: 100%;
      margin-bottom: 20px;
    }

    .container-fluid p {
      max-width: 100%;
      margin: 20px 0;
    }
  }