<app-navbar></app-navbar>


<section class="container-fluid">
  <div class="container">
    <div class="contact-details">
      <h1>Contact Details</h1>
      <div class="contact-item">
        <img src="../../assets/location.svg" alt="Location Icon" width="30px" />
        <span>1187 Lake Forest City, Uttrakhand, - 110006, India</span>
      </div>
      <div class="contact-item">
        <img src="../../assets/location.svg" alt="Email Icon" width="30px" />
        <span>support.in</span>
      </div>
      <div class="contact-item">
        <img src="../../assets/double-bed.svg" alt="Phone Icon" width="30px" />
        <span>+91-9910014421, 9891149697</span>
      </div>
      <div class="social-icons">
        <img
          src="https://cdn-icons-png.freepik.com/256/2504/2504918.png?semt=ais_hybrid"
          alt="Instagram Icon"
          width="30px"
        />
        <img src="https://cdn-icons-png.freepik.com/256/733/733585.png?semt=ais_hybrid" alt="YouTube Icon" width="30px" />
        <img src="https://cdn-icons-png.freepik.com/256/5968/5968764.png?semt=ais_hybrid" alt="Facebook Icon" width="30px" />
      </div>
    </div>
    <div>
      <article>
        <h1>Get in Touch</h1>
        <span>Feel free to drop your message below!</span>
      </article>
      <form action="">
        <input placeholder="Name" id="name" name="name" type="text" />
        <input placeholder="Email" id="email" name="email" type="email" />
        <textarea placeholder="Enter your message here.." rows="4"></textarea>
        <button>Send</button>
      </form>
    </div>
  </div>
</section>

<app-footer></app-footer>
